@import '../Base/all.scss';


.hotel {
    width: 100%;
    height: 400px;
    border-radius: $hotel-radius;
    background-color: $hotel-background;
    padding-top: 20px;
    cursor: pointer;
    &:hover .arrow {
        
        display: block !important;
    }
    

}

.hotel .hotel-header {
    
    
    width: 100%;
    position: relative;
    .hotel-img {
        width: 100%;
        height: 200px;
        border-radius: $hotel-radius;
    }
    .arrow {
        
        overflow: visible !important;
        
        
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        margin: 15px;
        
        border-radius: 50%;
        display: none;
        transition-duration: 500ms;
        &:hover {
            
            
            background-color: $hotel-background;
            
            top: 50%;
            transform: translateY(-50%) scale(2);

        }
        &:nth-last-child(1) {
            position: absolute;
            right: 0;
        }
        &:nth-last-child(2) {
            position: absolute;
            left: 0;
        }
    
    }
}



.hotel .hotel-body {
    display: flex;
    flex-direction: column;
    
    padding:0 0 10px 0 !important;
    .hotel-title {
        padding: 4px 0;
        margin: 0 !important;
        line-height: 22px;
        span {
            padding: 0 0 0 !important;
            font-size: 1.25rem;
            // .star-icon {
            //     height: 1.25rem !important;
            // }
            
        }
    }
    .hotel-detail {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        flex:1;
        
        p {
            
            font-size: 1.25rem !important;
            line-height: 20px;
            &:nth-child(1), &:nth-child(2) {
                opacity: 0.5;
            }
            &:nth-child(3) {
                font-weight: bold;
            }
        }
        button{
            position: absolute;
            bottom: -4px;
            right: 0;
        }
        
    }
}


