
// Spacing
$padding-x: 5%;

// Grid:
$grid-gaps: 5%;
$grid-elements: 30%;


// border-radius:
$hotel-radius: 15px;

//colors:
$airbnb-theme: #F7F7F7;
$hotel-background: #F7F7F7;
$bottom-line: #B0B0B0;

//font
$font-size: 12px;
